* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  display: flex;
  flex-direction: column;
  width: 20em;
  border-radius: 1em;
  margin: 20px;
  background-color: rgb(37, 37, 37);
}

form, label, .infoBox {
  display: flex;
  flex-direction: column;
}

form, .infoBox {
  margin: 10px;
}

form {
  color: cornflowerblue;
}

label {
  margin-bottom: 10px;
}

input {
  border-radius: 1em;
  border: none;
  padding: 5px 10px;
}

h3 {
  align-self: center;
  color: cornflowerblue;
}

p {
  color: white;
}